<div id="<%= dom_id fridge_item_tagging %>">
  <p>
    <strong>Fridge item:</strong>
    <%= fridge_item_tagging.fridge_item_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= fridge_item_tagging.tag_id %>
  </p>

</div>
