<h1>Editing fridge item tagging</h1>

<%= render "form", fridge_item_tagging: @fridge_item_tagging %>

<br>

<div>
  <%= link_to "Show this fridge item tagging", @fridge_item_tagging %> |
  <%= link_to "Back to fridge item taggings", fridge_item_taggings_path %>
</div>
