<p style="color: green"><%= notice %></p>

<h1>Fridge item taggings</h1>

<div id="fridge_item_taggings">
  <% @fridge_item_taggings.each do |fridge_item_tagging| %>
    <%= render fridge_item_tagging %>
    <p>
      <%= link_to "Show this fridge item tagging", fridge_item_tagging %>
    </p>
  <% end %>
</div>

<%= link_to "New fridge item tagging", new_fridge_item_tagging_path %>
