<h1>Editing grocery tagging</h1>

<%= render "form", grocery_tagging: @grocery_tagging %>

<br>

<div>
  <%= link_to "Show this grocery tagging", @grocery_tagging %> |
  <%= link_to "Back to grocery taggings", grocery_taggings_path %>
</div>
