<div id="<%= dom_id shopping_list_item %>">
  <p>
    <strong>Name:</strong>
    <%= shopping_list_item.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list_item.quantity %>
  </p>

  <p style="display: none">
    <strong>Creator:</strong>
    <%= shopping_list_item.creator %>
  </p>

</div>
