<p>
  <strong>Item name:</strong>
  <%= fridge_item.item_name %>
</p>

<p>
  <strong>Item quantity:</strong>
  <%= fridge_item.item_quantity %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= fridge_item.expiration_date %>
</p>
