<h1>Editing ingredient</h1>

<%= render "form", ingredient: @ingredient %>

<br>

<div>
  <%= link_to "Show this ingredient", meal_ingredient_path(meal: @ingredient.meal, ingredient: @ingredient) %> |
  <%= link_to "Back to ingredients", ingredients_path %>
</div>
