<p style="color: green"><%= notice %></p>

<%= render @grocery %>
<div>
  <table class="table table-hover" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Initial Quantity</th>
      <th scope="col">Bought On</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Finished On</th>
      <th scope="col">Days in Fridge</th>
      <th scope="col">Quantity Disposed</th>
    </tr>
  </thead>
  <tbody>
  <% @fridge_items.each do |fridge_item| %>
    <tr>
      <%= render partial: "fridge_items/grocery_fridge_item", locals: {fridge_item: fridge_item} %>
    </tr>
  <%end%>
</div>
<div>
  <%= link_to "All Groceries", groceries_path %>

  <%# button_to "Destroy this grocery", @grocery, method: :delete %>
</div>
