<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <ul>
    <% meal.ingredients.each do |ing| %>
      <li>
      <%= ing.name %>
      </li>
    <% end %>
    </ul>
  </p>

</div>
