html {

}
@media only screen and (max-width: 768px) {
    /*for phones and tablets, only show name, quantity, and expiration date of each item*/
    .extra {
        display: none;
    }
}

tr.undismissed_row td {
    background-color: pink
}
ul.unstyle_list {
    padding:0;
}
li.shopping_list_item_line {
    list-style-type:none;
}
.checked_item_line {
    opacity:0.5;
}
.checked {
    text-decoration: line-through;
}
.shopping_list_item div{
    padding: 2px;
}